body
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
}

a
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#000066;
}

p
{
	text-indent: 20px;
}